{% extends 'base.html' %}

{% load static %}

{% block content %}
<section id="roads" style="margin-top: 150px;">
    <div class="container">
        <h1 class="text-center mb-5">Select Road</h1>
        {% if user.role == 'min' %}
        <form method="GET">
            <div class="row">
                <div class="col-md-4 mb-3 mb-md-0">
                    <label for="state">State</label>
                    <select name="state" class="custom-select d-block w-100" id="state" required>
                        <option value="">Select State</option>
                        {% for state in states %}
                        <option value="{{ state }}" {% if state == selected_state %}selected{% endif %}>{{ state }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-4 mb-3 mb-md-0">
                    <label for="district">District</label>
                    <select name="district" class="custom-select d-block w-100" id="district" required>
                        <option value="">Select District</option>
                        {% if districts %}
                            {% for district in districts %}
                                <option value="{{ district }}" {% if district == selected_district %}selected{% endif %}>{{ district }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
                <div class="col-md-4 mb-3 mb-md-0">
                    <label for="block">Block</label>
                    <select name="block" class="custom-select d-block w-100" id="block" required>
                        <option value="">Select Block</option>
                        {% if blocks %}
                            {% for block in blocks %}
                                <option value="{{ block }}" {% if block == selected_block %}selected{% endif %}>{{ block }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
            </div>
            <div class="row justify-content-center my-4 mb-5">
                <div class="col-md-4">
                    <button id="show_roads" class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
                </div>
            </div>
        </form>
        {% endif %}
        {% if roads %}
        <div class="row">
            {% for road in roads %}
            <div class="col-md-4 mb-4">
                <div class="card shadow-sm">
                    <div class="card-body p-3">
                        <h5 class="card-title font-weight-bolder text-center my-2">{{ road.road_id }}</h5>
                        <!-- <p><b>PCI: </b>{{ road.pci }}</p> -->
                    </div>
                    <a href="{% url 'home:road_details' road.slug %}" class="stretched-link"></a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% elif user.role == 'con' %}
        <div class="row justify-content-center">
            No Roads assigned.
        </div>
        {% endif %}
    </div>
</section>
{% endblock %}

{% block scripts %}

<!-- AJAX for State Change -->

<script>
    $("#state").change(function () {
        let state = $(this).val();

        $.ajax({
            url: "{% url 'home:ajax_state_changed' %}",
            data: {
                'state': state,
            },
            dataType: 'json',
            success: function (data) {
                let selected = '';
                let options = '<option value="">Select District</option>';

                Object.entries(data).forEach(([key, value]) => {
                    // if(key == "{{selected_section}}") selected = 'selected';
                    // else selected = '';
                    options += '<option value="' + key + '"' + selected + '>' + value + '</option>';
                });
                $("#district").html(options);

                options = '<option value="">Select Block</option>';
                $('#block').html(options)
            }
        });
    });
</script>

<!-- AJAX for District Change -->

<script>
    $("#district").change(function () {
        let state = $('#state').children('option:selected').val();
        let district = $(this).val();

        $.ajax({
            url: "{% url 'home:ajax_district_changed' %}",
            data: {
                'state': state,
                'district': district,
            },
            dataType: 'json',
            success: function (data) {
                let selected = '';
                let options = '<option value="">Select Block</option>';

                Object.entries(data).forEach(([key, value]) => {
                    // if(key == "{{selected_section}}") selected = 'selected';
                    // else selected = '';
                    options += '<option value="' + key + '"' + selected + '>' + value + '</option>';
                });
                $('#block').html(options)
            }
        });
    });
</script>

{% endblock %}
