{% extends 'base.html' %}

{% load static %}

{% block style %}
<style>
    .collapsible-row {
        cursor: pointer;
    }
</style>
{% endblock %}

{% block content %}
<section id="road_details" style="margin-top: 150px;">
    <div class="container">
        <h2 class="text-center mb-5">{{ road.road_id }}</h2>

        {% if road.total_images and road.images.count != road.total_images %}
        <div class="text-center mb-4 mt-n5 pt-3">
            <div class="loader d-inline-block"></div>
            <p class="d-inline-block" style="vertical-align: top;"> {{ road.images.count }}/{{ road.total_images }} images processed</p>
        </div>
        {% endif %}
        
        {% if road.images.all %}
        <div class="row justify-content-end">
            <div class="col-md-4">
                <input type="text" id="filter_images" class="form-control mb-3 mx-auto" onkeyup="filter_images()" placeholder="Search image id..">
            </div>
        </div>
        <div id="accordion">
            <table id="images_table" class="table table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>SR No.</th>
                        <th>Image ID</th>
                        <th>Issues Found</th>
                        <th>Average Quality</th>
                    </tr>
                </thead>
                <tbody>
                    {% for image in road.images.all %}
                    <tr class="collapsible-row" data-target="#image{{ image.image_id }}" data-toggle="collapse" aria-expanded="true" aria-controls="image{{ image.image_id }}">
                        <td><i class="fas fa-chevron-down"></i></td>
                        <td>{{ forloop.counter }}</td>
                        <td><a href="{{ image.image.url }}" target="_blank">{{ image.image_id }}</a></td>
                        <td>{{ image.issues.count }}</td>
                        <td>{{ image.get_quality_display }}</td>
                    </tr>
                    
                    <tr>
                        <td class="p-0" colspan="5">
                            <div id="image{{ image.image_id }}" class="collapse bg-light px-4" aria-labelledby="headingOne" data-parent="#accordion">
                                {% if image.issues.all %}
                                <table class="table m-0">
                                    <tr>
                                        <th>SR No.</th>
                                        <th>Issue</th>
                                        <th>Count</th>
                                        <!-- <th>Quality</th> -->
                                    </tr>
                                    {% for issue_detail in image.issues.all %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ issue_detail.issue.name }}</td>
                                        <td>{{ issue_detail.count }}</td>
                                        <!-- <td>{{ issue_detail.get_quality_display }}</td> -->
                                    </tr>
                                    {% endfor %}
                                </table>
                                {% else %}
                                <p class="py-3 m-0">No issues found</p>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <div class="text-center">No Images available</div>
        {% endif %}
    </div>
</section>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function() {
        $('#accordion .collapse').on('show.bs.collapse', function () {
            collapse_id = $(this)[0].id
            selector = '[data-target = "#' + collapse_id + '"] i'
            $(selector).removeClass('fa-chevron-down').addClass('fa-chevron-up');
        });

        $('#accordion .collapse').on('hide.bs.collapse', function () {
            collapse_id = $(this)[0].id
            selector = '[data-target = "#' + collapse_id + '"] i'
            $(selector).removeClass('fa-chevron-up').addClass('fa-chevron-down');
        });
    });
</script>
<script>
    if ("{{ road.total_images }}" != 0 && "{{ road.total_images }}" != "{{ road.images.count }}") {
        setTimeout(function(){
            location.reload()
        }, 5000)
    }
</script>
<script>
    function filter_images() {
      // Declare variables
      let input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("filter_images");
      filter = input.value.toUpperCase();
      table = document.getElementById("images_table");
      tr = table.querySelectorAll(".collapsible-row");
    
      // Loop through all table rows, and hide those who don't match the search query
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[2];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
</script>
{% endblock %}
